<h1>Settings</h1>

<h2>General Account Information</h2>
<h5>Your registered email address: <%= current_user.email %></h5>
<h5>Your account was created on the <%= current_user.created_at%></h5>
<h5>You are user number <%= current_user.id%></h5>
