<% content_for(:title) do %>
  <% "Welcome" %>
  <% end %>
<%= render 'shared/banner' %>
<%= render 'shared/card' %>

<div class="footer wrapper-black">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-youtube fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
      <p class="footer-text">ALL RIGHTS RESERVED BY TEAM ELLIOTT</p>
      </div>
    </div>
  </div>
</div>
