.profilers-card {
  background-color: #E2E2E2;
  margin: 20px 10px;
  padding: 25px;
}

.space-4 {
  margin-bottom: 50px;
}

.panel-header {
  color: #484848;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
  background-color: #edefed;
  padding: 12px;
  padding-left: 20px;
}

.panel-body {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}

.profile-card {
  border: 1px solid #dce0e0;
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
